Repository m3au/playwright-pilot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.{js,jsx,mjs,cjs}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "*.{json,mdx,css,html,yml,yaml,toml}": ["prettier --write"]
}

docs: update README
  README.md
Due: prettier --write, markdownlint-cli2 --fix

docs: fix broken links and improve documentation
  .editorconfig
  README.md
  docs/development.md
Due: prettier --write, markdownlint-cli2 --fix

fix(rules): correct utility import example in pom.mdc
  .cursor/rules/pom.mdc
Due: none

chore: include version bump and changelog from previous fix commit
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

fix: remove unused variable and unnecessary eslint-disable
  .actrc
  .cspell.jsonc
  .cursor/hooks/block-dangerous-commands.sh
  .cursor/hooks/format-files.sh
  .cursor/rules/commits.mdc
  .github/dependabot.yml
  .github/templates/axe-report.html
  .github/templates/lighthouse-report.html
  .github/templates/reports-index.html
  .github/workflows/axe.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/lighthouse.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  .husky/commit-msg
  .husky/prepare-commit-msg
  .prettierignore
  LICENSE
  bunfig.toml
  docs/act-testing.md
  docs/ai-tuning.md
  docs/architecture.md
  docs/code-quality.md
  docs/development.md
  docs/goal.md
  main.code-workspace
  scripts/bump-version.mjs
  scripts/changelog.mjs
  tests/e2e/utils/locators.ts
  tests/e2e/utils/random.ts
  tests/unit/format.test.ts
  tests/unit/locators.test.ts
  tests/unit/random.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, markdownlint-cli2 --fix

chore: update configuration files and project metadata
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

docs(rules): update cursor rules for comments, commits, and documentation
  .cursor/rules/comments.mdc
  .cursor/rules/commits.mdc
  .cursor/rules/documentation.mdc
Due: none

refactor(tests): update test files and page objects
  tests/audit/axe.spec.ts
  tests/audit/lighthouse.spec.ts
  tests/e2e/features/cable-configurator.feature
  tests/e2e/poms/components/cable-selector-popup.ts
  tests/e2e/poms/pages/product-detail-page.ts
  tests/e2e/utils/index.ts
  tests/e2e/world.ts
  tests/unit/format.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(config): update configuration files
  .actrc
  .env.production
  .gitignore
  .husky/pre-commit
  CHANGELOG.md
  bun.lock
  bunfig.toml
  package.json
  playwright.config.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write, markdownlint-cli2 --fix

chore(workspace): add recommended VS Code extensions
  main.code-workspace
Due: none

fix(ci): remove version specifier from local reusable workflow calls
  .github/workflows/ci.yml
Due: prettier --write

refactor(config): migrate to ESM format
  eslint.config.js
  eslint.config.mjs
  prettier.config.js
  prettier.config.mjs
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

refactor(tests): consolidate test utilities
  tests/e2e/utils/locators.ts
  tests/utils/attachments.ts
  tests/utils/browser-project.ts
  tests/utils/bug-reporter.ts
  tests/utils/decorators.ts
  tests/utils/environment.ts
  tests/utils/format.ts
  tests/utils/index.ts
  tests/utils/locators.ts
  tests/utils/network.ts
  tests/utils/pagination.ts
  tests/utils/random.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(deps): update dependencies and lock file
  bun.lock
  package.json
Due: prettier --write

chore(config): update project configuration files
  .cspell.jsonc
  .cursorignore
  .env.example
  .env.production
  .gitignore
  .lintstagedrc.json
  .nvmrc
  .prettierignore
  bunfig.toml
Due: prettier --write

docs: update documentation and project files
  .cursor/rules/pom.mdc
  CHANGELOG.md
  Makefile
  README.md
  docs/act-testing.md
  docs/ai-tuning.md
  docs/architecture.md
  docs/code-quality.md
  docs/development.md
  docs/goal.md
Due: prettier --write, markdownlint-cli2 --fix

fix(lighthouse): remove unsupported pwa category
  tests/audit/lighthouse.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(release): bump version to 1.4.2 and update changelog for lighthouse fix
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

chore: rebrand project to Playwright Pilot
  README.md
  docs/architecture.md
  docs/development.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

chore(release): bump version to 1.5.2 and update changelog for test verification fix
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

refactor(tests): simplify basket notification check - remove backend wait
  CHANGELOG.md
  package.json
  tests/e2e/poms/pages/product-detail-page.ts
Due: eslint --fix --max-warnings=0, prettier --write, markdownlint-cli2 --fix

fix(ci): use HUSKY=0 to prevent post-commit loop
  .husky/post-commit
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

feat(ci): add automatic git tagging and release management
  .husky/post-commit
  .markdownlint.jsonc
  CHANGELOG.md
  eslint.config.mjs
  package.json
  scripts/changelog.mjs
  scripts/create-release.sh
  tests/unit/changelog-integration.test.ts
Due: eslint --fix --max-warnings=0, prettier --write, markdownlint-cli2 --fix

feat(ci): add descriptive annotations for each test workflow
  .github/workflows/axe.yml
  .github/workflows/lighthouse.yml
  .github/workflows/test.yml
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

test: verify hook workflow
  test.txt
Due: none

chore: remove test file
  README.test
Due: none

fix(ci): remove remaining concurrency groups from child workflows
  .github/workflows/axe.yml
  .github/workflows/ci.yml
  .github/workflows/lighthouse.yml
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

fix(ci): fix Dependabot workflow and remove missing label
  .github/dependabot.yml
  .github/workflows/dependabot.yml
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

fix(ci): add Dependabot check to child workflows
  .github/workflows/axe.yml
  .github/workflows/lighthouse.yml
  .github/workflows/test.yml
  CHANGELOG.md
  package.json
Due: prettier --write, markdownlint-cli2 --fix

docs: capture automationexercise progress and commands
  docs/automationexercise-plan.md
  docs/development.md
Due: prettier --write, markdownlint-cli2 --fix

feat(tests): add AuditTarget interface to environment configuration
  CHANGELOG.md
  package.json
  tests/utils/environment.ts
Due: eslint --fix --max-warnings=0, prettier --write, markdownlint-cli2 --fix

chore(rules): update cursor workspace rules
  .cursor/rules/comments.mdc
  .cursor/rules/commits.mdc
  .cursor/rules/core.mdc
  .cursor/rules/cspell.mdc
  .cursor/rules/dependencies.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/feature.mdc
  .cursor/rules/markdown.mdc
  .cursor/rules/playwright.mdc
  .cursor/rules/pom.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/security.mdc
  .cursor/rules/typescript.mdc
Due: none

chore(hooks): add cursor validation hooks
  .cursor/hooks/README.md
  .cursor/hooks/transform-commands.sh
  .cursor/hooks/validate-paths.sh
Due: prettier --write, markdownlint-cli2 --fix

test(e2e): make automationexercise tests shard-proof with navigation logic
  tests/e2e/challenges/automationexercise/poms/pages/account-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/cart-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/checkout-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/contact-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/home-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/order-confirmation-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/payment-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/product-details-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/products-page.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore(ci): add CodeRabbit configuration
  .coderabbit.yaml
Due: prettier --write

fix: resolve TypeScript type narrowing issues in cart-page.ts
  CHANGELOG.md
  package.json
  tests/e2e/challenges/automationexercise/poms/pages/cart-page.ts
  tests/e2e/challenges/automationexercise/poms/pages/products-page.ts
Due: eslint --fix --max-warnings=0, prettier --write, markdownlint-cli2 --fix

fix: properly narrow TypeScript types in cart-page.ts
  CHANGELOG.md
  package.json
  tests/e2e/challenges/automationexercise/poms/pages/cart-page.ts
Due: eslint --fix --max-warnings=0, prettier --write, markdownlint-cli2 --fix
